/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_garvina";
    src: url("../fonts/flaticon_garvina88fe.woff2?8fd6ad649392dad8878d58b475653156") format("woff2"),
url("../fonts/flaticon_garvina88fe.woff?8fd6ad649392dad8878d58b475653156") format("woff"),
url("../fonts/flaticon_garvina88fe.eot?8fd6ad649392dad8878d58b475653156#iefix") format("embedded-opentype"),
url("../fonts/flaticon_garvina88fe.ttf?8fd6ad649392dad8878d58b475653156") format("truetype"),
url("../fonts/flaticon_garvina88fe.svg?8fd6ad649392dad8878d58b475653156#flaticon_garvina") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_garvina !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-trophy:before {
    content: "\f101";
}
.flaticon-award:before {
    content: "\f102";
}
.flaticon-reputation:before {
    content: "\f103";
}
.flaticon-plant:before {
    content: "\f104";
}
.flaticon-farmer:before {
    content: "\f105";
}
.flaticon-gardener:before {
    content: "\f106";
}
.flaticon-lawn-mower:before {
    content: "\f107";
}
.flaticon-lawn-mower-1:before {
    content: "\f108";
}
.flaticon-agriculture:before {
    content: "\f109";
}
.flaticon-vegetation:before {
    content: "\f10a";
}
.flaticon-garden:before {
    content: "\f10b";
}
.flaticon-planting:before {
    content: "\f10c";
}
.flaticon-growth:before {
    content: "\f10d";
}
.flaticon-field:before {
    content: "\f10e";
}
.flaticon-leaf:before {
    content: "\f10f";
}

